
/* Table Navigation Icons */

.ui-widget-content .ui-pager-control .ui-icon {
    background-image: none;
    font-family: FontAwesome;
    font-size: 2em;
    position: relative;
    font-weight: bold;
    top: -3px;
    color: rgba(0,0,0,0.6);
    padding:5px;
}
.ui-pg-button.ui-state-hover .ui-icon {
    color: rgba(255,0,0,0.8);
}
span.ui-icon.ui-icon-seek-prev:before {
    content: "\f104";
}
span.ui-icon.ui-icon-seek-next:before {
    content: "\f105";
}
span.ui-icon.ui-icon-seek-end:before {
    content: "\f101";
}
span.ui-icon.ui-icon-seek-first:before {
    content: "\f100";
}